<!-- <!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPU</title>
    <link rel="stylesheet" href="./assets/CSS/style.css">
    <script src="./assets/JS/main.js" type="module"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body id="app">
    <header>
        <h1>List of the {{listeCpu.length}} CPUs manufactured On Mulhouse</h1>
    </header>

    <main>
        <div id="liste">
            <div id="bloc" v-for="cpu of listeCpu">
                <div>
                    <h2>{{cpu.brand}} {{cpu.family}} {{cpu.model}}</h2>
                    <div :class="cpu.brand"></div>                    

                    <div>
                        <img id="logo" src="assets/img/intel.svg" alt="logo">
                        <img id="logo" src="assets/img/{{cpu.brand}}.svg" alt="logo">
                    </div> -->
<!--                         
                    <p class="pliste"><span>ID : </span>{{cpu.idCpu}}</p>
                    <p class="pliste"><span>Frequency : </span>{{cpu.ghz}} Ghz</p>
                    <p class="pliste"><span>Price : </span>{{cpu.price}}€</p>
                    <p class="pliste"><span>Stock : {{stock}}</span></p>
                </div>
            </div>
        </div>
        
        <div id="inventaire">
            <h3>Inventory management</h3>
            <p class="pinventaire">1. Select a CPU</p>
            <p class="pinventaire">2. Edit the number of units in stock</p>
            <select name="cpu" id="cpu">
                <option value="cpu">Select a CPU</option>
                <option v-for="cpu of listeCpu" value="">{{cpu.brand}} {{cpu.family}} {{cpu.model}}</option>
            </select>
            <input type="number" name="unite" id="unite" placeholder="0" min="0"> -->
            <!-- <input v-model="stock" name="stock" id="stock" placeholder="0" min="0">
            <label for="stock">unit(s) in stock </label>
        </div>
    </main>
</body>
</html> -->

<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPU</title>
    <link rel="stylesheet" href="./assets/CSS/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/JS/main.js" type="module"></script>
</head>
<body id="app">
    <header>
        <h1>List of the {{listeCpu.length}} CPUs manufactured On Mulhouse</h1>
    </header>

    <main>
        <div id="liste">
            <div id="bloc" v-for="cpu of listeCpu">
                <div>
                    <h2 :class="cpu.brand">{{cpu.brand}} {{cpu.family}} {{cpu.model}}</h2>
                    <!-- <div>
                        <img id="logo" src="assets/img/intel.svg" alt="logo">
                        <img id="logo" src="assets/img/{{cpu.brand}}.svg" alt="logo">
                    </div> -->
                    <p class="pliste"><span>ID : </span>{{cpu.idCpu}}</p>
                    <p class="pliste"><span>Frequency : </span>{{cpu.ghz}} Ghz</p>
                    <p class="pliste"><span>Price : </span>{{cpu.price}}€</p>
                    <p class="pliste"><span>Stock : {{cpu.stock }}</span></p>
                </div>
            </div>
        </div>
        
        <div id="inventaire">
            <h3>Inventory management</h3>
            <p class="pinventaire">1. Select a CPU</p>
            <p class="pinventaire">2. Edit the number of units in stock</p>
            <select name="cpu" id="cpu" v-model="cpuSelected">
                <option value="">Select a CPU</option>
                <option v-for="cpu of listeCpu" :value="cpu">{{cpu.brand}} {{cpu.family}} {{cpu.model}}</option>
            </select>
            <!-- <input type="number" name="unite" id="unite" placeholder="0" min="0"> -->
            <input type="number" v-if="cpuSelected != null" v-model="cpuSelected.stock" name="stock" id="stock" placeholder="0" min="0">
            <label for="stock">unit(s) in stock </label>
        </div>
    </main>
</body>
</html>
